.page-container {
    flex-direction: column;
    width: 100vw;
}

.main-section {
    width: 100vw;
    height: 90vh;
}


/* Navigation */

#main-nav {
    display: none;
}

.hamburger-menu {
    width: 100%;
    height: 10vh;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu .hamburger {
    cursor: pointer;
    padding: 1rem;
    z-index: 20;
}

.hamburger-menu .hamburger .line {
    width: 30px;
    height: 3px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 7px;
}

.hamburger-menu .logo {
    height: 100%;
}

.hamburger-menu .logo img {
    height: 100%;
    width: 60px;
}

.hamburger-menu ul.hamburger-list {
    background-color: var(--dark-color);
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 500ms ease-out;
    pointer-events: none;
}

.hamburger-menu ul.hamburger-list.open {
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(1500px at 90% -20%);
    pointer-events: all;
}

.hamburger-menu ul.hamburger-list li {
    font-size: 2rem;
    padding: 2rem;
}

.hamburger-menu ul.hamburger-list li a {
    transition: 250ms all ease-in-out;
}

.hamburger-menu ul.hamburger-list li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: .3s all ease-in-out;
}

.hamburger-menu ul.hamburger-list a:hover::after {
    width: 100%;
}

.hamburger-menu ul.hamburger-list .socials li {
    display: inline-block;
}


/* Presentation */

#presentation img {
    height: auto;
    width: 300px;
    position: absolute;
    right: 20px;
}

#presentation .text-effect li {
    font-size: 4rem;
}


/* Contact */

#form-container {
    display: block;
    height: 90vh;
}

#form-container #contact-form {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

#big-logo {
    display: none;
}

#form-container #contact-form form {
    display: block;
    margin-top: 1rem;
}

#form-container #contact-form form input,
#form-container #contact-form form textarea {
    width: 100%;
}

#form-container #contact-form form textarea {
    height: 50px;
}


/* Work showcase */

#work-showcase {
    flex-wrap: wrap;
    width: 100%;
}

.card {
    width: 50vw;
    height: 100%;
}


/* AAbout page */

#about-body {
    height: unset;
}

#aboutpage-container {
    position: relative;
    height: unset;
    max-width: 100%;
    display: block;
}

#aboutmain-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

#aboutmain-section .about-card div p {
    text-align: left;
    width: 70%;
    font-size: 1rem;
    padding: 1rem;
}

#aboutmain-section .about-card div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutmain-section .about-card img {
    margin-left: 0;
}

#aboutmain-section .about-card {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    display: flex;
    height: 100vh;
}

.scroll-message {
    display: none;
    top: unset;
    right: unset;
    left: 0;
    bottom: 0;
}

.progress-bar {
    display: none;
}

@media only screen and (max-width: 480px) {
    #presentation img {
        height: auto;
        width: 250px;
        position: absolute;
        right: 10px;
    }
    #presentation .text-effect {
        position: relative;
    }
    #presentation {
        display: flex;
    }
    #presentation .text-effect li {
        font-size: 3.1rem;
    }
    .p-3 {
        padding: 10px;
    }
    #aboutmain-section .about-card:nth-child(2) img {
        width: 330px;
        height: 267px;
    }
    #aboutmain-section .about-card:nth-child(3) img {
        width: 300px;
        height: auto;
    }
}